Package: com.seu.respawpurple
Name: RespawPurple
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Respaw Purple Menu
Maintainer: seu nome
Author: seu nome
Section: Tweaks
